<div class="app"
     [class.app-dark-theme]="darkTheme"
     [class.app-light-theme]="!darkTheme"
>
    <header class="header">
        <div class="header-container">
            <div class="header-main">
                <h1 class="logo">Todo</h1>
                <div class="toggle-container" (click)="toggleTheme()">
                    <img *ngIf="!darkTheme"
                         class="toggle-icon"
                         src="/assets/images/icon-moon.svg"
                         alt="light-mode-icon">
                    <img *ngIf="darkTheme"
                         class="toggle-icon"
                         src="/assets/images/icon-sun.svg"
                         alt="dark-mode-icon">
                </div>
            </div>
            <app-todo-add></app-todo-add>
        </div>
    </header>

    <main class="main">
        <div class="main-container">
            <app-todo-list></app-todo-list>
        </div>
    </main>

    <footer class="footer">
        <p class="footer__text">
            Designed by <a href="https://shorturl.at/tOU03" target="_blank">Yaiza16</a>
        </p>
    </footer>
</div>
