<div class="app"
     [class.app-dark-theme]="darkTheme"
     [class.app-light-theme]="!darkTheme"
>
    <header class="header">
        <div class="header-container">
            <div class="header-main">
                <h1 class="logo">Todo</h1>
                <div class="toggle-container" (click)="toggleTheme()">
                    <img *ngIf="!darkTheme"
                         class="toggle-icon"
                         src="../assets/images/icon-moon.svg"
                         alt="light-mode-icon">
                    <img *ngIf="darkTheme"
                         class="toggle-icon"
                         src="../assets/images/icon-sun.svg"
                         alt="dark-mode-icon">
                </div>
            </div>
            <form class="task" id="form">
                <div class="button"></div>
                <input type="text" class="input" id="input-text" placeholder="Create a new todo...">
            </form>
        </div>
    </header>

    <main class="main">
        <div class="main-container">
            <div class="todo-list" id="todo-list">
                <div class="todo-list__container" id="todo-list__container">
                    <div class="task task--list">
                        <button class="button button--tasks-list"></button>
                        <p class="input">Example test task</p>
                        <div class="delete-icon-container">
                            <img
                                alt="icon-close"
                                src="../assets/images/icon-cross.svg"
                                class="delete-icon">
                        </div>
                    </div>
                </div>

                <div class="dynamic-items-container">
                    <div class="items-left">
                        <p class="items-left__text"><span id="number-dynamic">0</span> items left</p>
                    </div>
                    <div class="items-status" id="items-status">
                        <p class="items-status__item">All</p>
                        <p class="items-status__item">Active</p>
                        <p class="items-status__item">Completed</p>
                    </div>
                    <div class="items-cleared">
                        <p class="items-cleared__text">Clear Completed</p>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer">
        <p class="footer__text">
            Designed by <a href="shorturl.at/tOU03">Yaiza16</a>
        </p>
    </footer>
</div>
