<div class="app" [class.app-dark-theme]="darkTheme" [class.app-light-theme]="!darkTheme" id="app">
    <header class="header">
        <div class="header-container">
            <div class="header-main">
                <h1 class="logo">Todo</h1>
                <div class="toggle-container" (click)="toggleTheme()">
                    <img *ngIf="!darkTheme"
                        class="toggle-icon"
                        src="../assets/images/icon-moon.svg"
                        alt="light-mode-icon">
                    <img *ngIf="darkTheme"
                        class="toggle-icon"
                        src="../assets/images/icon-sun.svg"
                        alt="dark-mode-icon">
                </div>
            </div>
            <form class="task" id="form">
                <div class="button"></div>
                <input type="text" class="input" id="input-text" placeholder="Create a new todo...">
            </form>
        </div>
    </header>

    <main class="main">
        <div class="main-container">
            <div class="todo-list" id="todo-list">
                <div class="todo-list__container" id="todo-list__container">
                    <!-- Add tasks -->
                </div>

                <div class="dynamic-items-container">
                    <div class="items-left">
                        <p class="items-left__text"><span id="number-dynamic">0</span> items left</p>
                    </div>
                    <div class="items-status" id="items-status">
                        <p class="items-status__item" id="all-status">All</p>
                        <p class="items-status__item" id="active-status">Active</p>
                        <p class="items-status__item" id="completed-status">Completed</p>
                    </div>
                    <div class="items-cleared">
                        <p class="items-cleared__text" id="clear-completed">Clear Completed</p>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer">
        <p class="footer__text">Drag and drop to reorder list</p>
    </footer>
</div>
